body{
  background-color: #769FCD;
  overflow-x: hidden;
  overflow-y: scroll;
}
.navbar{
  padding-top:1%;
  padding-bottom: 1%;
  text-align: center;
color: white;
}
.h1{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Montserrat', serif;
}
.p1{
  font-size: 1.3rem;
  padding-bottom:2%;
  color: black;
}
.btn{
  margin-top:2%;
}
